<link rel="preconnect" href="https://cdn.jsdelivr.net">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css">

<meta property="og:image" content="{{ '/assets/images/toothless-thumbnail.png?v=2' | absolute_url }}">
<meta property="og:image:alt" content="Toothless">
<meta property="og:image:width" content="200">
<meta property="og:image:height" content="200">
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="{{ '/assets/images/toothless-thumbnail.png?v=2' | absolute_url }}">
<meta name="twitter:image:alt" content="Toothless">
